# Assignment 1: For Loop Exercises

Practice using for loops in Python.

---

## Exercise 1: Basic Loop

Use a for loop to print `"Good morning!"` **5 times**.

In [ ]:
# Your code here

---

## Exercise 2: range(stop)

Use `range()` to print numbers from **0 to 9**.

In [ ]:
# Your code here

---

## Exercise 3: range(start, stop)

Use `range()` to print numbers from **5 to 15**.

In [ ]:
# Your code here

---

## Exercise 4: range(start, stop, step)

Use `range()` to print **even numbers** from 2 to 20.

Expected output: 2, 4, 6, 8, 10, 12, 14, 16, 18, 20

In [ ]:
# Your code here

---

## Exercise 5: Count by 3

Use `range()` to print numbers counting by **3** from 3 to 30.

Expected output: 3, 6, 9, 12, 15, 18, 21, 24, 27, 30

In [ ]:
# Your code here

---

## Exercise 6: Multiplication Table

Print the **multiplication table for 7** (from 7 x 1 to 7 x 10).

Expected output:
```
7 x 1 = 7
7 x 2 = 14
...
7 x 10 = 70
```

In [ ]:
# Your code here

---

## Exercise 7: Print Cubes

Print the **cube** (number × number × number) of numbers from 1 to 5.

Expected output:
```
1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
```

In [ ]:
# Your code here

---

## Exercise 8: Calculate Sum

Calculate the **sum of numbers from 1 to 20**.

Expected output: 210

In [ ]:
# Your code here

---

## Exercise 9: Sum of Odd Numbers

Calculate the **sum of odd numbers from 1 to 15**.

Hint: use `range(1, 16, 2)`

Expected output: 64

In [ ]:
# Your code here

---

## Exercise 10: Divisible by 4

Print all numbers from 1 to 30 that are **divisible by 4**.

Expected output: 4, 8, 12, 16, 20, 24, 28

In [ ]:
# Your code here

---

## Exercise 11: Count Even Numbers

Count how many **even numbers** are between 1 and 100.

Hint: A number is even if `i % 2 == 0`

Expected output: 50

In [ ]:
# Your code here

---

## Exercise 12: Loop Through String

Print each character in the string `"PYTHON"`.

In [ ]:
# Your code here

---

## Exercise 13: Count Letter

Count how many times the letter `"L"` appears in the string `"HELLO WORLD"`.

Expected output: 3

In [ ]:
word = "HELLO WORLD"

# Your code here

---

## Exercise 14: Using break

Print numbers from 1 to 20, but **stop** when you reach 12.

Expected output: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11

In [ ]:
# Your code here

---

## Exercise 15: Using continue

Print numbers from 1 to 10, but **skip** the numbers 4 and 7.

Expected output: 1, 2, 3, 5, 6, 8, 9, 10

In [ ]:
# Your code here

---

## Exercise 16: Rectangle of Stars

Print a **3x6 rectangle** of stars using nested loops.

Expected output:
```
* * * * * *
* * * * * *
* * * * * *
```

In [ ]:
# Your code here

---

## Exercise 17: Triangle Pattern

Print a triangle with **6 rows** using nested loops.

Expected output:
```
*
* *
* * *
* * * *
* * * * *
* * * * * *
```

In [ ]:
# Your code here

---

## Bonus Exercise 1: Factorial

Calculate the **factorial of 6** (6! = 6 × 5 × 4 × 3 × 2 × 1).

Hint: Start with `result = 1` and multiply in the loop.

Expected output: 720

In [ ]:
# Your code here

---

## Bonus Exercise 2: Sum of Digits

Calculate the **sum of digits** in the string `"12345"`.

Hint: Use `int()` to convert each character to a number.

Expected output: 15

In [ ]:
digits = "12345"

# Your code here

---

## Bonus Exercise 3: Number Pyramid

Print a number pyramid with 5 rows.

Expected output:
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [ ]:
# Your code here